{% extends "skeleton.html" %}
{% set active_page = 'failed' -%}

{% block body %}

<section class="hero is-medium base-container">
    <div class="hero-body">
        <div class="container restricted">
            <h1 class="title has-text-centered">
                Error!
            </h1>
            <h2 class="subtitle has-text-centered">
                Your video failed to process. Please double check your source video and try again!
            </h2>
        </div>
    </div>
</section>

{% endblock %}
